@import url("https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
body {
  background-image: url("../../img/gamebg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.gameBoard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 646px;
  height: 100%;
}

.menu {
  width: 100%;
  height: auto;
}

.status {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  font: 25px/1 "Galmuri9";
  padding-bottom: 10px;
  color: #fff;
}

.status > * {
  display: flex;
  align-items: flex-end;
}

.time {
  justify-content: flex-start;
  width: 45px;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 21px;
}

#player-stage {
  justify-content: center;
  flex-grow: 1;
}

.home {
  justify-content: flex-end;
  width: 45px;
}

.time::before,
.home--Btn {
  content: "";
  display: block;
  width: 19px;
  height: 19px;
  margin-bottom: 2px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.time::before {
  margin-right: 3px;
  background-image: url("../../img/clock.png");
}

.home--Btn {
  background-image: url("../../img/home-green.png");
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 646px;
  border-radius: 5px;
  background-color: #000;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.game::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.palette {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  left: 0;
  width: 100%;
  height: 100%;
}

.palette-item {
  padding: 3px;
  border-radius: 10px;
  background-clip: content-box;
  cursor: pointer;
}

.modal {
  display: none;
  letter-spacing: -0.03em;
}

.modal-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
}

.modal__content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: auto;
  padding: 10px;
  z-index: 9999;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.modal__content-title {
  text-align: center;
  margin-bottom: 25px;
}

.modal__content-title--result {
  font-size: 21px;
  font-family: "Galmuri9";
  margin-bottom: 10px;
  color: red;
}

.modal__content-title--stage {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 17px;
  font-family: "Galmuri9";
}

.modal__content-title--desc {
  font-size: 15px;
  font-family: "Galmuri9";
}

.modal__content-close-button {
  width: 100%;
  margin-bottom: 20px;
  font-size: 15px;
  font-family: "Galmuri9";
}

.white-button {
  width: 30%;
  padding: 5px;
}

.show {
  display: block;
  opacity: 1;
}

.share {
  font-family: "Galmuri9";
  margin-top: 30px;
}
.share h5 {
  font-size: 15px;
}
.share button {
  font-size: 13px;
}

/* Tablet */
@media screen and (max-width: 390px) {
  .menu {
    font-size: 21px;
  }
  .time,
  .home {
    width: 55px;
  }
  .time::before,
  .home--Btn {
    width: 24px;
    height: 24px;
  }
  .time::before {
    margin-right: 5px;
  }
  .palette-item {
    border-radius: 15px;
    padding: 3px;
  }
  .modal__content {
    width: 70%;
  }
  .modal__content-title--result {
    margin-bottom: 5px;
  }
  .modal__content-title--stage {
    font-size: 16px;
    margin-bottom: 12px;
  }
  .modal__content-title--desc {
    font-size: 18px;
  }
  .modal__content-close-button {
    font-size: 17px;
  }
  .share {
    font-family: "Galmuri9";
    margin-top: 1px;
  }
  .share h5 {
    font-size: 15px;
  }
  .share button {
    font-family: "Galmuri9";
    font-size: 9px;
    width: 70px;
    height: 45px;
    padding: 0px;
    line-height: 15px;
  }
}
/* Desktop */
@media screen and (min-width: 1024px) {
  .palette-item {
    border-radius: 10px;
    padding: 4px;
  }
  .modal__content {
    width: 30%;
  }
}/*# sourceMappingURL=game-pg-style.css.map */