.all {
  position: relative;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid black;
  width: 100%;
  height: calc(100vh - 59px - 130px - 64px - 45px);
  overflow: hidden;
  .main {
    display: flex;
    justify-content: center;
    .qna {
      font-family: "galmuri9", monospace;
      position: absolute;
      flex-direction: column;
      // justify-content: space-evenly;
      align-items: center;
      height: 100%;
      width: 100%;
      transition: 1s;

      &.prev {
        transform: translateX(-500px);
      }
      &.next {
        transform: translateX(500px);
      }
      .qBox {
        margin-top: 50px;
        font-size: 26px;
        font-weight: bold;
        padding: 0 10px;
      }
      .aBox {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        justify-content: space-evenly;
        margin: 7px;

        .radio {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
        }
        .select {
          width: 60px;
          height: 60px;
          margin: 1px;
          background-image: url("../img/btn.png");
          background-size: cover;
          &:nth-child(2),
          &:nth-child(4) {
            width: 55px;
            height: 55px;
          }
          &:nth-child(3) {
            width: 50px;
            height: 50px;
          }
          // label {
          //   width: 100%;
          //   height: 100%;
          // }
          input[type="radio"] {
            width: 100%;
            height: 100%;
            opacity: 0;
            &:hover {
              cursor: pointer;
            }
            &:checked {
              display: none;
            }
            &:checked + label {
              background-image: url("../img/btnpush.png");
              background-size: cover;
            }
          }
          label {
            border-radius: 50%;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    .question-status {
      position: absolute;
      bottom: 7vh;
      left: 50%;
      width: 70vw;
      max-width: 431px;
      transform: translateX(-50%);
      .progress-bar {
        display: none;
      }
      .percentage {
        position: absolute;
        width: 70vw;
        height: 16px;
        max-width: 431px;
        background-color: #777;
      }
      .current-percentage {
        position: absolute;
        transition: width 1s;
        left: 0;
        width: 0%;
        height: 16px;
        background-color: green;
      }
      .question-count {
        transform: translateY(16px);
      }
    }
  }
  .result {
    height: 100%;
    min-height: calc(100vh - 10px - 130px - 64px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 20px;
    .graph {
      display: flex;
      flex-direction: column;
      .type {
        align-items: center;
        div {
          display: flex;

          .type-name {
            justify-content: center;
            align-items: center;
            min-width: 100px;
            width: 100px;
            border: 1px solid black;
            background-color: rgb(237, 237, 237);
            font-size: 15px;
          }
          .type-graph {
            // width: 78%;
            width: 0%;
            height: 32px;
            transition: 2s;
            transition-timing-function: ease-in-out;
            background-color: pink;
          }
          .type-character {
          }
        }
      }
    }
  }
}
