// FONT
@import url("https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

// font-family: 'Galmuri9';
// font-family: 'VT323', monospace;

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../img/bg/bg-4.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  font-family: "Galmuri9", "VT323";
  color: #181818;
  width: 100vw;
  height: 100vh;
}

.container-sm {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 516px;
  height: 100vh;
  padding: (0, 0);

  .status-bar {
    height: 59px;
    width: 100%;
  }

  header {
    display: flex;
    border: 3px solid black;
    align-items: center;
    height: 130px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);

    .header-container {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }

    .home,
    .bar {
      width: 30px;
      height: 30px;
      transition: 0.2s;
      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }
    }

    .title {
      font-size: 30px;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .content {
    position: relative;
    width: 100%;
    height: calc(100vh - 59px - 130px - 64px - 45px);
    background-color: rgba(255, 255, 255, 0.5);
    border: 3px solid black;
    overflow: hidden;
  }

  .content-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }

  .aboutGame {
    margin: 0;
    font-size: 18px;
    line-height: 33px;
    font-weight: bold;
  }

  .play {
    width: 200px;
    transition: 0.2s;
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    span {
      font-size: 10px;
      letter-spacing: 1px;
      color: #fff;
    }
  }
  .home-indicator {
    width: 100%;
    height: 45px;
  }
}
