// 한글 폰트 (갈무리9)
@import url("https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css");

// 영어 폰트 (VT323)
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

// BUTTONS
@import "btns";

// HIDE
.hide {
  display: none;
}

body {
  background-image: url("../img/door.png");
  background-position: center;
  background-size: cover;
  font-family: "VT323", "galmuri9", Arial, sans-serif;
  color: #181818;
  text-align: center;
  .container-sm {
    height: 100vh;
    .status-bar {
      height: 59px;
      width: 100%;
    }
    header {
      display: flex;
      border: 3px solid black;
      justify-content: space-evenly;
      align-items: center;
      height: 130px;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.5);
      .home {
        width: 30px;
        height: 30px;
        transition: 0.2s;
        &:hover {
          transform: scale(1.1);
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
      h2 {
        font-size: 40px;
      }
      .bar {
        width: 30px;
        height: 30px;
      }
    }
    .content {
      width: 100%;
      height: calc(100vh - 59px - 130px - 64px - 45px);
      background-color: rgba(255, 255, 255, 0.5);
      border: 3px solid black;
      .anchor {
        margin-top: 3vh;
      }
      .intro {
      }
      .start {
        margin-top: 2vh;
        transition: 0.2s;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
    footer {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 64px;
      span {
        color: #fff;
      }
    }
    .home-indicator {
      width: 100%;
      height: 45px;
    }
    canvas {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
  }
}
