//FONT
@import url("https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css");
.hide {
  display: none;
}

p {
  margin: 0;
}

body {
  text-align: center;
  background-image: url(../../img/bg_img.png);
  background-size: cover;
  background-position: center;
  font-family: "galmuri9";
}

.container-sm {
  height: 100vh;
  max-width: 516px;

  .status-bar {
    background-color: inherit;
    height: 10px;
    width: 100%;
  }
  header {
    display: flex;
    align-items: center;
    height: 130px;
    width: 100%;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.5);

    .header-container {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      img {
        width: 30px;
        height: 30px;
      }
      .title {
        font-size: 30px;
        font-weight: 700;
      }
    }
  }
  .content {
    // background-color: dodgerblue;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: calc(100vh - 10px - 130px - 64px);
    border: 1px solid black;
    .content__test-screen {
      width: inherit;
      height: 30vh;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        font-size: large;
        font-weight: bold;
      }
    }

    .content__submit {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      img {
        margin-top: 30px;
        width: 100px;
        height: 100px;
        cursor: pointer;
      }
      ul {
        margin-bottom: 0;
        margin-top: 30px;
        padding: 0;
      }
    }

    .result {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      height: 30vh;
    }
    .result--analyze {
      padding: 30px 0px;
    }
  }
  footer {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      font-size: small;
      color: white;
      margin: 0;
    }
  }
}
